# copy this to .env to easily modify local CI ENV variables

# cp env.template .env

MW_VERSION=1.35
SMW_VERSION=4.1.0
PS_VERSION=0.6.1
AL_VERSION=0.4.2
MAPS_VERSION=9.0.7
SRF_VERSION=4.0.1

PHP_VERSION=7.4
DB_TYPE=mysql
DB_IMAGE="mysql:5.7"