parameters:
        ignoreErrors:
                -
                        message: "#^Access to constant ID_TABLE on an unknown class SMW\\\\SQLStore\\\\SQLStore\\.$#"
                        count: 1
                        path: includes/Utils.php

                -
                        message: "#^Call to an undefined static method MagicWord\\:\\:get\\(\\)\\.$#"
                        count: 2
                        path: includes/Utils.php
