includes:
	- phpstan-baseline.neon

parameters:
	level: 0
	paths:
		- includes
		- languages
		- tests/phpunit
	excludePaths:
	scanDirectories:
		- ../SemanticMediaWiki/includes
		- ../SemanticMediaWiki/src/Query
		- ../SemanticMediaWiki/tests/phpunit
		- ../PageSchemas/includes
		- ../AdminLinks/includes
		- ../../includes
		- ../../languages
		- ../../tests/phpunit
		- ../../vendor
