/**
 * The main CSS file for the Semantic Drilldown extension.
 */

div.drilldown_categories {
	float: right;
	margin-left: 10px;
	margin-bottom: 3px;
	padding: 0px 25px 25px 25px;
	background: white;
}

div.drilldown_header {
	font-weight: bold;
	padding: 5px;
        border: 1px #aaaaaa solid;
	background: #e0e0e0;
}

div.drilldown_category {
        border-left: 1px #aaaaaa solid;
        border-right: 1px #aaaaaa solid;
        border-bottom: 1px #aaaaaa solid;
	padding: 4px;
	margin: 0px;
	background: #e0e0e0;
}

div.selected_category {
	font-weight: bold;
	background: white;
}

div.drilldown_filters {
	/* background: #e2e2e2; */
	margin-top: 10px;
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px #aaaaaa solid;
}
