{{#categoriesAsTabs}}
    <div id="drilldown-categories-tabs-wrapper">
        <p id="categories-header">{{msg_sd_browsedata_choosecategory}}{{msg_colon-separator}}</p>
        <ul id="drilldown-categories-tabs">
            {{>QueryPageHeader.Categories.List}}
        </ul>
    </div>
{{/categoriesAsTabs}}
{{^categoriesAsTabs}}
    <div id="drilldown-categories-wrapper">
        <ul id="drilldown-categories">
            <li id="categories-header">{{msg_sd_browsedata_choosecategory}}{{msg_colon-separator}}</li>
            {{>QueryPageHeader.Categories.List}}
        </ul>
    </div>
{{/categoriesAsTabs}}
