name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:

  test:

    runs-on: ubuntu-22.04
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      matrix:
        include:
          - mediawiki_version: '1.43.1'
            smw_version: 5.0.2
            srf_version: 5.0.0
            php_version: 8.2
            al_version: 0.6.3
            database_type: mysql
            database_image: "mariadb:11.2"
            coverage: false
            experimental: false
          - mediawiki_version: '1.43'
            smw_version: 6.0.1
            srf_version: 5.1.0
            php_version: 8.2
            al_version: 0.6.3
            database_type: mysql
            database_image: "mariadb:11.2"
            coverage: false
            experimental: false
          - mediawiki_version: '1.44'
            smw_version: dev-master
            srf_version: dev-master
            php_version: 8.2
            al_version: 0.7
            database_type: mysql
            database_image: "mariadb:11.2"
            coverage: false
            experimental: true

    env:
      MW_VERSION: ${{ matrix.mediawiki_version }}
      SMW_VERSION: ${{ matrix.smw_version }}
      SRF_VERSION: ${{ matrix.srf_version }}
      PHP_VERSION: ${{ matrix.php_version }}
      AL_VERSION: ${{ matrix.al_version }}
      DB_TYPE: ${{ matrix.database_type }}
      DB_IMAGE: ${{ matrix.database_image }}


    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Update submodules
        run: git submodule update --init --remote

      - name: Run tests
        run: make ci
        if: matrix.coverage == false

      - name: Run tests with coverage
        run: make ci-coverage
        if: matrix.coverage == true

      - name: Upload code coverage
        uses: codecov/codecov-action@v4
        with:
          files: coverage/php/coverage.xml
        if: matrix.coverage == true
